* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#main-container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

body {
  border-top: #10978c 5px solid;
  font-family: sans-serif;
  position: relative;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}
nav {
  font-size: 15px;
}
nav a:link {
  display: inline-block;
}
nav a:link:last-child {
  margin-right: 0;
}
article {
  margin-bottom: 60px;
}
.secend-header {
  margin-bottom: 40px;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid#10978c;
  border-bottom: 5px solid #10978c;
  padding: 50px 0px;
  /* width: 500px; */
}

h1,
h2,
h3,
h4,
li,
p {
  font-family: sans-serif;
  color: #444;
}
h1,
h2,
h3 {
  color: #1010ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
h3 + p::first-line {
  color: red;
}
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0px;
}
/* footer p {
  font-size: 16px;
} */

/*article header p {
  font-style: italic;
}*/
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}
.author-name {
  font-size: 18px;
  font-weight: bold;
}
.posts {
  list-style: none;
  margin-left: 0;
}
.posts a {
  color: #10978c;
}
body {
  background-color: rgb(221, 221, 221);
}
li:first-child {
  font-weight: bolder;
}
li:last-child {
  font-style: italic;
}
a:link {
  color: rgb(169, 211, 207);
  text-decoration: none;
}
a:visited {
  color: #10978c;
}
a:hover {
  color: red;
  font-weight: bold;
  text-decoration: underline dotted red;
}
a:active {
  color: black;
  font-style: italic;
  align-content: center;
}
.post-img {
  width: 100%;
  height: auto;
}
.like {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
} /*Floats */
/* .author-img {
  float: left;
  margin-bottom: 10px;
}
.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}
nav {
  float: right;
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
article {
  float: left;
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
  padding: 50px 40px;
}

footer {
  clear: both;
} */
/* flexbox */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.author {
  margin-bottom: 0px;
  margin-left: 10px;
}
.related-post {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}
.author-name {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
